# Basic Data Types

## Defining a Variable

Variables are containers for storing data values.

In [1]:
x = 5

In [2]:
print(x)

5

In [3]:
x

5

In [5]:
1x

SyntaxError: invalid decimal literal (1973045331.py, line 1)

In [1]:
$a=8

SyntaxError: invalid syntax (997934240.py, line 1)

In [3]:
_x=7

<b>A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).</b>

Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

<b>Variable names  are Case-Sensitive</b>

In [8]:

a = 4
A = "Sally"
#A will not overwrite a

In [10]:
a

9

#### Legal variable names:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#### Assign Multiple Values
Python allows you to assign values to multiple variables in one line:

In [13]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

<b>Make sure the number of variables matches the number of values, or else you will get an error.</b>

you can assign the same value to multiple variables in one line:

In [17]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [18]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#### Output Variables

In [19]:
x = "Python is awesome"
print(x)

Python is awesome

In [20]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

#### You can also use the + operator to output multiple variables:

In [21]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [22]:
x = 5
y = 10
print(x + y)

15

In [23]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
x = 5
y = "John"
print(y + x)

TypeError: can only concatenate str (not "int") to str

In [6]:
name = 'Ryan'

In [7]:
type(name)

str

In [8]:
type(x)

int

## Numbers

In [9]:
type(1.5)

float

In [ ]:
1.23456789

In [ ]:
12345678.9

In [10]:
type(2j)

complex

In [11]:
1j * 1j

(-1+0j)

## Strings

In [12]:
'String 1 ' + 'String 2'

'String 1 String 2'

In [13]:
'1' + '1'

'11'

In [14]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

## Booleans

In [15]:
True

True

In [16]:
False

False

In [18]:
true = True

In [19]:
1 == 1

True

In [20]:
1 == 2

False